.cent{
    color: rgb(0,0,0);
    width: 700px;
}
.back1{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(86deg, rgb(223, 222, 255) 0%, rgb(255, 227, 227) 100%);
}
.back2{
    float: right;
    
    padding-right: max(30%,200px);
}